<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="col-md-6 col-md-offset-3">
<h1>covid information of Country</h1>
<form method="post" action="/">
    <input type="text" name="country" placeholder="enter countryname"/>
    <button type="submit">Submit</button>

</form>
        {% if covidinfo %}
<h3>country: {{covidinfo.covid}}</h3>
<h3>Total Covid Cases: {{covidinfo.TotalCases}}</h3>
<h3>Total Death Cases: {{covidinfo.TotalDeaths}}</h3>
    {% else %}
    <h3>country not found</h3>
    {% endif %}

</div>
</body>
</html>